/* styles for a basic data view */

.side-menu-wrapper {
    background: #46beff;
    width: 40px;
    cursor: pointer;
    position: absolute;
    height: 100%;
}

.top-menu {
    height: 30px;
}

.data-switch {
    border-bottom: none;
    background-color: #f5f5f5;
    text-align: center;
    line-height: 30px;
    padding-left: 45px;
    font-weight: 300;
}

.data-switch .button {
    cursor: pointer;
    display: inline-block;
    padding: 0 15px;
}

.data-switch .button.active {
    background: rgba(0,0,0,0.1);
    font-weight: 600;
    letter-spacing: 0.07em;
}

.data-switch .button:hover {
    background: #46beff;
}

.data-switch .button.active:hover {
    background: rgba(0,0,0,0.2);
}
.data-switch .button:active, .data-switch .button.active:active {
    background: rgba(0,0,0,0.4);
}

/* .data-switch .button:after { */
/*     content: "\00a0|\00a0"; */
/* } */

/* .data-switch .button:last-child:after { */
/*     content: ""; */
/* } */

.global-manipulations-collapsed {
    padding: 0 10px;
    line-height: 30px;
    text-transform: uppercase;
}

.logo-collapsed {
    font-weight: 600;
    font-size: 20px;
    padding: 0px 10px;
    position: absolute;
    line-height: 30px;
}

.menu {
    position: relative;
}

.menu-icon, .menu-icon-hover {
    position: absolute;
    top: 0;
    right: 0;
}

.menu-icon {
    z-index: 1;
}

.menu-icon-hover {
    z-index: 2;
    opacity: 0;
}

.close-hover, .close-nonhover {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.close-nonhover {
    opacity: 0;
}

.close-hover {
    opacity: 0;
}

.menu-explanation {
    position: absolute;
    width: 300px;
    top: 340px;
    line-height: 40px;

    opacity: 0;

    text-align: right;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .2em;
    color: white;

    /* background: rgba(255,255,255,0.3); */

    transform-origin: 20px 20px;
    transform: rotate(-90deg);
}

.content {
    margin-left: 45px;
    max-width: none;
    /* position: absolute; */
}

table.data-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}

.data-table tbody {

}

.data-table th, .data-table td {
    padding: 5px;
}

.data-table th {
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .075em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.data-table tr {
}

.data-table td {
    border: 1px solid #ccc;
    line-height: 10px;
}

.data-cell:first-child, .header-cell:first-child{
    border-left: none;
}

.data-cell:last-child, .header-cell:last-child{
    border-right: none;
}

.data-table .data-row:last-child td {
    border-bottom: none;
}

.data-table .data-row:nth-of-type(2) td {
    border-top: none;
}

.data-table td.text {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: .14em;
}

.data-table td.number {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: .05em;
}